@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    @apply bg-core-stone text-core-jet;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

:root {
  --primary-teal: #004442;
  --secondary-mint: #aadac8;
  --user-blue: #2563eb;
  --core-fog: #fafafa;
  --core-stone: #e7e5e4;
  --core-charcoal: #262626;
  --core-jet: #0a0a0a;
}

.email {
  border-radius: 25px;
  border: 1px solid #0a0a0a;
  padding: 10px 20px;
}

@media (min-width: 1024px) {
  .email {
    border-radius: 30px;
    border: 1.8px solid #0a0a0a;
    padding: 12px 38px;
  }
}
