@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

.email {
  border-radius: 25px;
  border: 1px solid #0a0a0a;
  padding: 10px 20px;
}


@media (min-width: 1024px) {
  .email {
    border-radius: 30px;
    border: 1.8px solid #0a0a0a;
    padding: 12px 38px;
  }
}

